html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: "NeueMontreal", sans-serif;
    src: url(../fonts/NeueMontreal/PPNeueMontreal-Book.ttf);
}  
body {
     font-family: NeueMontreal, sans-serif;
    color: var(--main-color);
   background-color: var(--bgc);
}


  h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .btn {
    position: relative;
  }
  a {
    text-decoration: none;
  }
  
 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;

  }
  picture,
  figure {
    margin: 0;
  }
  
  .list {

    margin: 0;
    list-style: none;
  }
  
  .container {
    position: relative;
   
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
     padding-right: 16px;
     width:100%;
     height:auto;

     outline: 1px solid crimson;
  }
  .btn {
    position: relative;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  }

  @media screen and (min-width: 390px) and (max-width: 1246px) {
    .container {
      width: 390px;
    }
  }

  @media screen and (min-width: 1447px) {
    .container {
      width: 1447px;
      padding-left: 100px;
     padding-right: 100px;
    }
  }