
<div class="header-holder">
    <!-- <div class="header-02"> -->
      
      <!-- <div class="search-mobile" >
        <a rel="nofollow">
          <i class="icon_search"></i>
        </a>
      </div> -->
      
      <nav class="header-nav">
        <div class="header-nav__inner">
          <ul class="header-menu-list">
            <li class="header-menu-item">
              <a href="/">HOME</a>
            </li>
            <li class="header-menu-item">
              <a rel="nofollow" href="/works/">WORKS</a>
            </li>
            <li class="header-menu-item">
              <a href="/technologies/">TECHNOLOGIES</a>
            </li>
            <li class="header-menu-item">
              <a href="/services/">SERVICES</a>
            </li>
            <li class="header-menu-item">
              <a rel="nofollow" href="/company/">COMPANY</a>
            </li>
            <li class="header-menu-item">
              <a class="active" href="/blog/">BLOG</a>
            </li>
            <li class="header-menu-item">
              <a rel="nofollow" href="/contacts/">CONTACTS</a>
            </li>
          </ul>
          </div>
      </nav>
      
      <a href="/" class="logo"></a>
      
      <a href="#" class="device-menu">
        <div class="device-menu__inner">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
    <!-- </div> -->
  </div>
  
  
  