
<div class="header-holder">
    <!-- <div class="header-02"> -->
      
      <!-- <div class="search-mobile" >
        <a rel="nofollow">
          <i class="icon_search"></i>
        </a>
      </div> -->
      
      <nav class="header-nav">

        <div class="menu__wrapper">

          <svg class="header-menu__logo" width="240" hight="75">
            <use href="./images/sprite.svg#logo-it" ></use>
          </svg>

          <!-- <div class="header-nav__inner"> -->
            <ul class="header-menu-list list">
              <li class="header-menu-item">
                <a class="header-menu-link" href="/">HOME</a>
              </li>
              <li class="header-menu-item">
                <a class="header-menu-link" rel="nofollow" href="/works/">ABOUT</a>
              </li>
              <!-- <li class="header-menu-item">
                <a class="header-menu-link" href="/technologies/">TECHNOLOGIES</a>
              </li> -->
              <li class="header-menu-item">
                <a class="header-menu-link" href="/services/">SERVICES</a>
              </li>
              <li class="header-menu-item">
                <a class="header-menu-link" rel="nofollow" href="/company/">PROJECTS</a>
              </li>
              <!-- <li class="header-menu-item">
                <a class="header-menu-link" class="active" href="/blog/">BLOG</a>
              </li> -->
              <li class="header-menu-item">
                <a class="header-menu-link" rel="nofollow" href="/contacts/">CONTACTS</a>
              </li>
            </ul>
            <ul class="menu__social-list list">
              <li class="menu__social-item">Facebook</li>
              <li class="menu__social-item">Upwork</li>
              <li class="menu__social-item">Calendly</li>
          </ul>
        <!-- </div> -->

          </div>
      </nav>


    
      
      <a href="/" class="logo"></a>
      
      <!-- <a href="#" class="device-menu">
        <div class="device-menu__inner">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a> -->
    <!-- </div> -->
  </div>
  
  
  