<section class="about">
    <div class="about__container container">
        <div class="about__wrapper-one">
            <h2 class="about__title">about
            </h2>
            <p class="about__description">
                this squad is digital agency, specialized in front-end development
                of online stores on the shopify platform.
            </p>
            <img src="./images/about/img-1.jpg" alt="img">
        </div>
        <div class="about__wrapper-two">
            <p class="about__text">
                We specialize in front-end development of online stores on the Shopify platform.
                Focused on digitally transforming brands.
                We help businesses launch, grow & gain a competitive edge in today’s digital-led world through strategy & tech.
                Our mission is to create remarkable digital experiences that connect rands to their customers.
            </p>
             <img src="./images/about/img-2.jpg" alt="img">
             <p class="about__info">Based in Ukraine. br
                                     10% of each project we donate for Ukraine. </p>
        </div>

    </div>
</section>