<section class="advantages">
    <div class="advantages__container container">
        <h2 class="advantages__title">advantages</h2>
        <div class="advantages__wrapper-one">
            <p class="advantages__text">We shephered our client’s growth by meticulously enhancing their image with highly individualized focus.
                With an editor’s eye on emerging trends & deep ties to cultural arbiters, we are an editorial platform for our client’s voice.
            </p>
        </div>

        <div class="advantages__wrapper-two">
            <ol class="advantages__list list">
                <li class="advantages__item">
                    We provide fullcycle Online Store Development, from the clients idea to the final result
                </li>
                <li class="advantages__item">
                    We help on each development step
                    to meet all needs of the client
                </li>
                <li class="advantages__item">
                    We provide most required services for the E-Commerce stores 
                </li>
                <li class="advantages__item">
                    We care about the success of your business because this’s our success too
                </li>
                <li class="advantages__item">
                    After launch support     
                </li>
            </ol>
        </div>

    </div>
</section>