<header class="header">
    <div class="header__container container">
      
        <svg class="header__logo" width="116" hight="36">
          <use href="./images/sprite.svg#logo-it" ></use>
        </svg>

        <button class="menu-button js-open-menu" type="button" aria-expanded="false" aria-controls="menu-container" data-menu-button>
          <svg class="menu-button__icon" width="50" height="50">
           
            <use class="icon-menu" href="./images/sprite.svg#burger-menu" width="30"></use>
          </svg>

        </button>
     
    </div>
    
    <div class="time__container container">
      <p>Ukraine/10:33</p>
    </div>


</header>