<header class="header">
    <div class="header__container container">
      
        <svg class="header__logo" width="116" hight="36">
          <use href="./images/sprite.svg#logo-it" ></use>
        </svg>

      

        <a href="#" class="device-menu">
          <div class="device-menu__inner">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
     
    </div>
    
    <!-- <div class="time__container ">
      <p>Ukraine/10:33</p>
    </div> -->


</header>