<section class="hero">
    <div class="hero__container container">
        <div class="hero__wrapper">
            <h1 class="hero__title">it squad
            </h1>
            <p class="hero__undertitle">development
                 <span class="hero__undertitle-text">of a full cycle</span> <br>
            turnkey online stores</p>
        </div>
        <picture>
            <source srcset="./images/main-img-lg.jpg" media="(min-width: 1247px)" />
            <img src="./images/main-img.jpg" alt="MDN" />
          </picture>
        <!-- <img src="./images/main-img.jpg" alt="img"> -->
        <button class="hero__button btn" type="button">work with us</button>
        <a class="hero_link" href="#!">
            <svg class="hero_link-svg" width="50" hight="50">
              <use href="./images/symbol.svg#arrow"></use>
            </svg>
        </a>
    </div>

</section>