<section class="hero">
    <div class="hero__container container">
        <div class="hero__wrapper">
            <h1 class="hero__title">it squad
            </h1>
            <p class="hero__undertitle">development
                 <span class="hero__undertitle-text">of a full cycle</span> <br>
            turnkey online stores</p>
        </div>
        <img src="./images/main-img.jpg" alt="img">
        <button class="hero__button btn" type="button">work with us</button>
    </div>

</section>