<section class="in-numbers">
    <div class="in-numbers__container container">

        <h2 class="in-numbers__title">IT Squad in numbers</h2>
        <ul class="in-numbers__list list">

            <li class="in-numbers__item">
                <p class="in-numbers__value">6+</p>
                <p class="in-numbers__text">years in business</p>
            </li>
            <li class="in-numbers__item">
                <p class="in-numbers__value">9000+</p>
                <p class="in-numbers__text">hours coding</p>
            </li>
            <li class="in-numbers__item">
                <p class="in-numbers__value">130+</p>
                <p class="in-numbers__text">projects</p>
            </li>
            <li class="in-numbers__item">
                <p class="in-numbers__value">7 500 000 $ +</p>
                <p class="in-numbers__text">total revenue to the clients</p>
            </li>
        </ul>


</section>