<div class="menu-container js-menu-container" id="menu-container" data-menu>

  <svg class="header__logo second" width="200" >
    <use href="./images/sprite.svg#logo-it"></use>
  </svg>

  <svg class="menu__close" width="50" height="50">
       
    <use class="icon-menu-cross" href="./images/sprite.svg#burger-cross" width="30"></use>
  </svg>
 
  <nav class="menu">
      <ul class="menu__list list">
          <li class="menu__list-item home">
              <a class="menu__link " href="./index.html" >Home</a>
          </li>
          <li class="menu__list-item ">
              <a class="menu__link" href="#!">About</a>
          </li>
          <li class="menu__list-item">
              <a class="menu__link" href="#">Services</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__link" href="#">Projects</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__link" href="#">Contacts</a>
      </li>
      </ul>
  </nav>
  <ul class="menu__social-list list">
    <li class="menu__social-item">Facebook</li>
    <li class="menu__social-item">Upwork</li>
    <li class="menu__social-item">Calendly</li>
</ul>
</div>
