
.about__wrapper-one {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;

}
.about__wrapper-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;
}

.about__container {
    background-color: #202020;
    padding-bottom: 70px;
    
    @media screen and (min-width: 1246px) {
        padding-bottom: 100px;
    }
}


@media screen and (min-width: 390px) and (max-width: 1246px) {
    .about__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 35px;
    }
    .about__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
    
        color: #BFE55E;
    }
    .about__description {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #CBCBCB;
    }
    .about__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        
        color: #FFFFFF;
    }
    .about__info {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    
        color: #CBCBCB;
        width: 280px;
    }

  }

  @media screen and (min-width: 1247px) {
    .about__container {
        display: flex;
        gap: 100px;
        
    }
    .about__wrapper-one,
    .about__wrapper-two {
        flex-basis: calc((100% - 30px) / 2);
        width: 570px;
        gap: 70px;
    }

    .about__title {
        font-weight: 400;
        font-size: 60px;
        line-height: 72px;
        text-transform: uppercase;
 
        color: #BFE55E;
   
    }

    .about__description {
       
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
 
        color: #CBCBCB;
        
    }
    .about__text {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    }
  }

 


@media screen and (min-widht: 1247px)  {
    .about__description,
    .about__text,
    .about__info {
       width: 570px;
    }
    .about__title {
        font-weight: 400;
        font-size: 60px;
        line-height: 72px;
        text-transform: uppercase;
        color: #BFE55E;        
      
    }
    
    .about__description {
        font-size: 40px;
        line-height: 48px;        
    }
    .about__text {
        font-size: 30px;
        line-height: 36px;

    }
}
