.advantages {
    background-color: #202020;
}

.advantages__container {
    background-color: #202020;
    padding-bottom: 70px;
}
.advantages__title {
    
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #BFE55E; 
    margin-bottom: 35px;   
}
.advantages__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #CBCBCB;
    padding: 35px 10px 35px 0;
    border-top: 1px solid #CBCBCB;    
}

.advantages__list {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    padding: 54px 51px;
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;

    padding: 10px 0;

    counter-reset: li;
}
.advantages__item:before {
    position: relative;
    top: -28px;
    left: -30px;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #CBCBCB;
    
    counter-increment: li;
    content: '0'counter(li)'/';
    }
@media screen and (min-width: 1247px) {
    .advantages__title {
        font-size: 60px;
        line-height: 72px;

    }
    .advantages__text {
        font-size: 40px;
        line-height: 48px;

    }
    .advantages__item {
        font-size: 30px;
        line-height: 36px;
    }
    .advantages__item:before {
        font-size: 20px;
        line-height: 24px;
    }
    .advantages__container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        padding: 100px;
    }
    .advantages__title {
        position: absolute;
        left: 100px;
        margin: 0;
    }
}   

.advantages__item {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

    padding: 30px 20px 0;
    width: 280px;

    text-indent: -2em;
    
}