.hero {
    background-color: #202020;
    padding-bottom: 85px;
}

// .hero__container {
   
   
// }

.hero__title {
   
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
 
    color: #BFE55E;
    margin-bottom: 30px;
}

.italic__wrapper {
    font-style: italic;

}

.hero__undertitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;    

    margin-bottom: 70px;
}

.hero__undertitle-text {
    font-style: italic;
    color: #BFE55E;
}

// .hero__pic {
//     display: block;
//     margin: 0;
//     width: 100%;

//     & img {
//         display: block;
//     }
// }

.hero__button {

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;    
    
    text-transform: uppercase;
    background-color: transparent;
    color: var(--salad);  
    
    border: 2px solid var(--salad);
    border-radius: 20px;
    padding: 9px 14px;
    margin-top: 30px;

}



  @media screen and (min-width: 1247px) {
    .hero__title {
        font-weight: 500;
        font-size: 130px;
        line-height: 156px;
        
        text-transform: uppercase;
        margin: 0;
        
    }
    .hero__undertitle {
        font-weight: 400;
        font-size: 37px;
        line-height: 44px;
        text-transform: uppercase;
        margin: 0;   

    }
    .hero__undertitle-text {
        font-weight: 400;
        font-size: 37px;
        line-height: 44px; 
           
    }
    .hero__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        margin-bottom: 50px;
    }
    .hero__button {
        display: block;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;    
        padding: 12px 25px;
        border-radius: 24px;    
        margin: 50px auto 0;

    }
    
    
  }

  .hero_link-svg {
    display: block;
    height: 50px;
    margin: 20px auto 0;

    @media screen and (max-width: 1246px) {
        display: none;
    }
}