.in-numbers {
    padding-bottom: 70px;
    background-color: #202020;
    width: 100%;
}

.in-numbers__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

    color: #BFE55E;    
}
.italic__wrapper {
    font-style: italic;
}